apiVersion: apps/v1
kind: Deployment
metadata:
  name: dep-devopsodia
  labels:
    app: devopsodia
spec:
  replicas: 4
  selector:
    matchLabels:
      app: devopsodia
  template:
    metadata:
      labels:
        app: devopsodia
    spec:
      containers:
      - name: container-devopsodia
        image: 192.168.56.120:9091/argocd-dev/devopsodia:3
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: devopsodia-svc
  labels:
    app: devopsodia
spec:
  #type: LoadBalancer
  #type: NodePort
  ports:
  - port: 80
  #nodePort: 30001
  selector:
    app: devopsodia
